<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Minesweeper</title>
    <link rel="stylesheet" href="CSS.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="inpage.js"></script>
</head>


<body>   
    <div class="flex-container">
        <div class="game-board">
            <br>
            <table id="board">
                <%for (var i=0;i<long;i++) {%>
                    <tr>
                    <%for (var j=0;j<larg;j++){%> 
                        <td class="game-cell" data-row=<%=i%> data-col=<%=j%> onclick="callCreate(<%=long%>,<%=larg%>,<%=bombs%>,<%=i%>,<%=j%>)"></td>
                    <%}%> 
                    </tr>
                <%}%> 
            </table>
        </div>
    </div>
        
</body>

</html>